%input{:type => 'radio', :name => 'user[' + field + '_visibility]', :id => field + '_access_private', :checked => (@user[(field + '_visibility').to_sym] == 0 ? 'checked' : nil), :value => 0}
%input{:type => 'radio', :name => 'user[' + field + '_visibility]', :id => field + '_access_guild', :checked => (@user[(field + '_visibility').to_sym] == 1 ? 'checked' : nil), :value => 1}
%input{:type => 'radio', :name => 'user[' + field + '_visibility]', :id => field + '_access_public', :checked => (@user[(field + '_visibility').to_sym] == 2 ? 'checked' : nil), :value => 2}