.links
  %h1 Links you may find helpful
  %h2 General Links
  %ul
    %li
      %a{:href => "http://scholar.google.com/"} Google Scholar
  %h2 Authors
  %ul
    %li
      %a{:href => "http://www.peacecorpswriters.org/pages/depts/resources/resour_writers/100daysbook/bk100da.html"}
        How to write a novel in 100 days or less
    %li
      %a{:href => "http://www.unc.edu/depts/wcweb/handouts/proofread.html"}
        Proofreading
  %h2 Editors
  %ul
    %li
      %a{:href => "http://www.wikihow.com/Edit-or-Proofread-an-Essay-or-Paper"}
        How to Edit or Proofread an Essay or Paper