%h1
  WriteTogether
%h2
  A place for authors and students to help each other

%div{:style => "position:absolute; right:10px;"}
  %a{:href => R(UserController, :authenticate)}<
    Sign in
  %a{:href => R(UserController, :create)}<
    Create account
%div
  #tabs
    %ul
      %li
        %a{:href => "#tab1"}
          %span Tab 1
      %li
        %a{:href => "#tab2"}
          %span Tab 2
      %li
        %a{:href => "#tab3"}
          %span Tab 3
    #tab1
      = render_template :tab1
    #tab2
      = render_template :tab2
    #tab3
      = render_template :tab3
