%div{:style => "float: right"}
  %a{:href => "/signin"}
    Sign in
  %a{:href => '/register'}
    Create account
#tabs
  %ul
    %li
      %a{:href => "#tab1"}
        %span Tab 1
    %li
      %a{:href => "#tab2"}
        %span Tab 2
    %li
      %a{:href => "#tab3"}
        %span Tab 3
  #tab1
    = render_template :tab1
  #tab2
    = render_template :tab2
  #tab3
    = render_template :tab3